        <script src="/resources/ext/bootstrap-5.0.0-dist/js/bootstrap.min.js"></script>
        <script src="/resources/ext/Jquery/jquery-3.6.0.min.js"></script>
        <script src="/resources/ext/Jquery/jquery.validate.min.js"></script>
        <script src="/resources/js/ValidationPass/JqueryVal.js"></script>
        <script src="/resources/js/nav-bar.js"></script>
        <script src="/resources/js/ValidationPass/PasswordMeter.js"></script>
        <script src="/resources/ext/bootstrap-5.0.0-dist/js/popper.min.js"></script>
    </body>
</html>