    <script src="/resources/ext/bootstrap-5.0.0-dist/js/bootstrap.min.js"></script>
    <script src="/resources/ext/Jquery/jquery-3.6.0.min.js"></script>
    <script src="/resources/ext/Jquery/jquery.dataTables.min.js"></script>
    <script src="/resources/ext/Jquery/jquery.dataTablesButtons.js"></script>
    <script src="/resources/ext/Jquery/jquery.dataTablesButtonsBootstrap.js"></script>
    <script src="/resources/ext/bootstrap-5.0.0-dist/js/popper.min.js"></script>
    <script src="/resources/ext/bootstrap-5.0.0-dist/dataTables_Bootstrap5/dataTables.bootstrap5.min.js"></script>
    <script src="/resources/js/DataTablesinit.js"></script>
    <script src="/resources/js/nav-bar.js"></script>
    <script src="/resources/js/check.js"></script>
    </body>
</html>